.left{
	float:left;
}
.right{
	float:right;
}
.left1{
	float:left;
}
.right1{
	float:right;
}
.im{
    margin-top: 100px;
}
p{
    margin-bottom:10px;
}
left1{
    float:left;
}
.footer{
    background-color: blue;
}
.a{
   margin-right: 4px;
}





